<!DOCTYPE html>
<html>
    <footer class="view-size footer">
		  <div class="footer-content">
			    <p>주소: 서울시 노원구 공릉로 34길</p>
			    <p>전화번호 010-2977-9895</p>
			    <p>Email: jwj23@naver.com</p>
		  </div>
		  <div class="footer-social">
			    <ul>
				      <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
				      <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
				      <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
				      <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
			    </ul>
		  </div>
</footer>
</html>