<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"  
	  xmlns:sec="//www.thymeleaf.org/extras/spring-security">
	<link rel="stylesheet" href="/css/header.css">
   <header class="view-size">
   		<div class="header">
	   		<h1>header</h1>
	   		<div>
	   			<p>Hot Summer 2023</p>
	   		</div>
	   		<div class="flex wrap">
		   		<div class="logo-size">
		   			<a href="/">wonJ</a>
		   		</div>
		   		<div class=" menu-3">
		   			<ul class="flex">
		   				<li><a href="#">SALE</a></li>
		   				<li><a href="/man">MAN</a></li>
		   				<li><a href="#">WOMEN</a></li>
		   			</ul>
		   		</div>
		   		<div class="menu-s">
		   			<ul class="flex">
		   				<li><a href="#">COLLECTION</a></li>
		   				<li><a href="#">PROJECT</a></li>
		   				<li><a href="#">LOOKBOOK</a></li>
		   				<li><a href="#">OFFLINE</a></li>
		   				<li><a href="#">COMMUNITY</a></li>
		   			</ul>
		   		</div>
	   		</div>
	   		<div class="menu">
		   		<th:block sec:authorize="isAnonymous()">
			   		<a href="/signin">로그인</a>
			   		<a href="/">Home</a>
		   		</th:block>
	<!-- 	   		<th:block th:if="${#authorization.expr('isAnonymous()')}">
		    		<span>비회원</span>
		    	</th:block> -->
		   		<th:block sec:authorize="isAuthenticated()">
		   			<div class="right board">
		   				<a class="a" href="/boards"></a>
				    	<form action="/logout" method="POST" style="display: inline-block;">
				    		<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				    		<button>로그아웃</button>
				    	</form>
				    	<a class="adminPage" sec:authorize="hasRole('ADMIN')" href="/admin"></a>
			    	</div>
    			</th:block>
	   		</div>
   		</div>
   </header>
</html>