<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"  
	  xmlns:sec="//www.thymeleaf.org/extras/spring-security">
	<link rel="stylesheet" href="/css/header.css">
   <header>
   		<div class="header">
	   		<h1>header</h1>
	   		<div class="logo-size">
	   			<a href="/">A</a>
	   		</div>
	   		<div class="menu">
		   		
		   		<th:block sec:authorize="isAnonymous()">
			   		<a href="/signin">로그인</a>
			   		<a href="/signup">회원가입</a>
		   		</th:block>
		   		<th:block th:if="${#authorization.expr('isAnonymous()')}">
		    		<span>비회원</span>
		    	</th:block>
		   		<th:block sec:authorize="isAuthenticated()">
		   			<a href="/boards">게시판</a>
			    	<form action="/logout" method="POST" style="display: inline-block;">
			    		<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			    		<button>로그아웃</button>
			    	</form>
			    	<a sec:authorize="hasRole('ADMIN')" href="/admin">관리자페이지</a>
    			</th:block>
	   		</div>
   		</div>
   </header>
</html>