<!DOCTYPE html>
<html>
	 <header>
	 	<h1>메뉴영역</h1>
	 	<div class="wrap">
	 		<div id="logo">
	 			<a href="/">SHOP</a>
	 		</div>
	 		<div id="main">
	 			<a href="/admin">ADMIN-HOME</a>
	 		</div>
	 		<dl class="menu-wrap">
	 			<dt class="menu">
	 				<span>상품관리</span>
	 			</dt>
	 			<dd>
	 				<div><a href="/admin/goods/new">등록하기</a></div>
	 				<div><a href="/admin/goods">조회및수정</a></div>
	 			</dd>
	 		</dl>
	 		<dl class="menu-wrap">
	 			<dt class="menu">
	 				<span>고객센터</span>
	 			</dt>
	 			<dd>
	 				<div><a href="#">등록</a></div>
	 				<div><a href="#">조회및수정</a></div>
	 			</dd>
	 		</dl>
	 	</div>
	 </header>
</html>