<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" th:fragment="layout(head,main)">
    <head>
   	 	<meta charset="UTF-8">
    	<title>Insert title here</title>
    	<script src="/webjars/jquery/jquery.min.js"></script>
    	<link rel="stylesheet" href="/css/common.css">
    	  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
   		<script src="/js/common/pay.js"></script>
    	<th:block th:replace="${head}"/>
    </head>
	 <body>
        <th:block th:insert="~{layout/header}" />
        <th:block th:replace="${main}" />
    </body>
</html>