<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org " xmlns:sec="//www.thymeleaf.org/extras/spring-security"
		th:replace="~{layout/layout-common :: layout(~{::head}, ~{::main})}">
    <head>
    	<link rel="stylesheet" href="/css/board/detail.css">
    	<script src="/js/detail.js"></script>
    </head>
	<main class="view-size">
		
		<form class=" detail-wrap" th:action="@{|/boards/${detail.no}|}" method="post">
			<table id="basic">
				<tr >
					<td>번호</td>
					<td colspan="3" th:text="${detail.no}" id="detail-board-no"></td>
				</tr>
				
				<tr>
					<td>작성자</td>
					<td  th:text="${detail.nickName}"></td>
				</tr>
				<tr>
					<td>제목</td>
					<td  th:text="${detail.title}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td th:text="${detail.content}"></td>
				</tr>
				<tr>
					<td colspan="2" sec:authorize="isAuthenticated()"  th:if="${detail.nickName eq #authentication.name}">
						<button type="button" id="btn-update">수정</button>
						<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}"	th:value="${_csrf.token}"/>
						<input type="hidden" name="_method" value="DELETE">
						<button>삭제</button>
					</td>
				</tr>
			</table>
		</form>
			<form class="detail-wrap" th:action="@{|/boards/${detail.no}|}" method="post">
				<table id="form-update" class="basic">
					<tr>
						<td>글번호</td>
						<td colspan="3" th:text="${detail.no}" id="detail-board-no"></td>
					<tr>
						<td>작성자</td>
						<td th:text="${detail.nickName}"></td>
					</tr>
					<tr>
						<td>글제목</td>
						<td >
							<input type="text" name="title" th:value="${detail.title}">
						</td>
					</tr>
					<tr>
						<td>글내용</td>
						<td ><textarea id="summernote" name="content">[(${detail.content})]</textarea></td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="hidden" th:name="${_csrf.parameterName}"	th:value="${_csrf.token}"/>
							<input type="hidden" name="_method" value="PUT">
							<button type="button" onclick="clickedCancel()">수정취소</button>
							<button type="submit">수정완료</button>
						</td>
					</tr>
				</table>
			</form>
	</main>
</html>