<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" th:replace="~{layout/layout-common :: layout(~{::head}, ~{::main})}">
    <head>
		<link rel="stylesheet" href="/css/board/write.css">
    </head>
	<main class="view-size">
		<h1>메인영역</h1>
		<div class="wrap">
		</div>
		<form action="/boards/write" method="post">
			<div>
				<input type="text" class="input-t" name="title" placeholder="제목입력">
			</div>
			<hr>
			<div>
		  		<textarea class="text-a" name="content"></textarea>
		  	</div>
		  	<div>
		  		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		  		<button>글쓰기</button>
		  	</div>
		</form>
	</main>
</html>