<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="~{layout/layout-common :: layout(~{::head}, ~{::main})}">
<head>
</head>
<main>
	<h1>로그인페이지</h1>
	<section>
		<div>
			<form action="/login-Proc" method="post">
				<div>
					<h1>아이디를 입력하세요</h1>
					<input type="text" name="id" placeholder="아이디">
				</div>
				<div>
					<h1>비밀번호를 입력하세요</h1>
					<input type="password" name="password" placeholder="비밀번호">
				</div>
				<div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<button>로그인</button>
				</div>
			</form>
		</div>
	</section>
</main>
</html>