<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="~{layout/layout-common :: layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/sign/signup.css">
	<script src="/js/sign/signup.js"></script>
	<meta name="_csrf" content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
	<!-- ... -->
</head>

	  <main id="registrationForm" class="view-size flex center">
	  		<form action="/signup" method="post" >
	  		<div class="signup-head">
	  			<div>회원 가입</div>
	  		</div>
		    <div >
			    
			     <input type="text" id="userID" name="id" placeholder="아이디를 입력하세요" required oninput="checkId()">
		    	 <div class="error-message id"></div>
		    </div>
		    <div> 
			     <input type="password" id="userPW" name="password"  placeholder="비밀번호를 입력하세요">
		     	 <div class="error-message password"></div>
		    </div>
		    <div>
			      <input type="password" id="userPW_confirm" name="userPW_confirm"  placeholder="비밀번호 확인">
			      <div class="error-message password_confirm"></div>
		    </div>
		    <div>
			      <input type="text" id="userName" name="name" placeholder="이름을 입력하세요">
			      <div class="error-message name"></div>
		    </div>
		    <div>
			      <input type="text" id="userPhone" name="phone" placeholder="휴대폰번호를 입력하세요">
			      <div class="error-message phone"></div>
		    </div>
		    <div>
			      <input type="email" id="userEmail" name="email" placeholder="이메일을 입력하세요">
			      <div class="error-message email"></div>
		    </div>
		    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		    	<button type="submit" class="btn-point">가입하기</button>
		    </form>
	  </main>
</html>