<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="~{layout/layout-common :: layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/sign/signin.css">
	<script src="/js/sign/signin.js"></script>

</head>
<main>
	<h1>로그인페이지</h1>
	<section class="signin-page flex center">
		<div class="wrap">
			<form action="/login-Proc" method="post" >
				<div class="signin-form">
					<div class="flex center s-logo">로그인</div>
					<div class="flex center signin-form1">
						<h1>아이디를 입력하세요</h1>
						<input type="text" id="userId" name="id" placeholder="아이디" >
					</div>
					<div class="flex center">
						<div class="idError" style="display: none;">아이디를 입력하세요</div>
					</div>
					<div class="flex center">
						<h1>비밀번호를 입력하세요</h1>
						<input type="password" id="userPass" name="password" placeholder="비밀번호">
					</div>
					<div class="flex center">
						<div class="passError" style="display: none;">비밀번호를 입력하세요</div>
					</div>
					<div class="flex center">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<button>로그인</button>
					</div>
					<div class="flex center signup">
						<a href="/signup">회원가입</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</main>
</html>