@charset "UTF-8";

#goods-write > div > form > ul >li{
	border-top: 1px solid #a9a9a9;
	padding: 20px;
}

#goods-write > div > form > ul >li label{
	display: block;
	font-weight: 700;
}
#goods-write > div > form > ul >li pre{
	font-size : 15px;
	letter-spacing: -0.5px;
}


/*goods-write */
#goods-write form > ul  div > label > input[type=file]{
	display: none;
	
}
#goods-write .pre-img{
	background-image: url("");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#goods-wrte .pre-img{
	
	width: 300px;
	height: 300px;
}

#goods-write .pre-img::before{
	content:"+";
	display: flex;
	justify-content: center;
	align-items:center;
	width:200px;
	height: 200px;
	background-color:rgba(65, 43, 233, 0.44);
	border: 1px dotted #a9a9a9;
}
.wrap>p{
	width :200px;
	height:100px;
}