@charset "UTF-8";

.signup-sec{
	width: 500px;
	height: 500px;
	
}
.wrap .s-logo {
	margin : 50px 0 50px 0;
}
input{
	margin-top:0.5em;
	width:290px;
	height: 50px;
	border :1px solid grey;
	padding-left:0.5em;
}
button{
	margin-top:20px;
	display: block;
    background-color: #212121;
    color: #fff;
    font-size: 11px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 2px;
    width: 290px;
    height: 40px;
}
input::placeholder {
 
  font-style: italic;
  
}