@charset "UTF-8";

.signin-page .wrap{
	height: 500px;
	width:500px;
	
}
.signin-form{
	margin-top : 50px;	
}
.s-logo{
	margin-bottom: 50px;
	margin-top : 10px;
}
.wrap .signin-form input{
	margin-top:0.5em;
	width:290px;
	height: 50px;
	border :1px solid grey;
	padding-left: 0.5em;
	
}

button{
	margin-top:20px;
	display: block;
    background-color: #212121;
    color: #fff;
    font-size: 11px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 2px;
    width: 290px;
    height: 40px;
}
.signup{
    background-color: white;
    color: black;
    font-size: 11px;
    border: 1px solid #000;
    margin-bottom: 2px;
    width: 290px;
    margin-left: 105px;
    height: 40px;
    align-items: center;
}
input::placeholder {
 
  font-style: italic;
 
}