@charset "UTF-8";

.signin-page .wrap{
	height: 500px;
	width:500px;
	
}
.signin-form{
	margin-top : 50px;	
}
.s-logo{
	margin-bottom: 50px;
	margin-top : 10px;
}
.wrap .signin-form input{
	margin-top:0.5em;
	width:290px;
	height: 50px;
	border :1px solid grey;
	border-radius: 8px;
	padding-left: 0.5em;
	
}

button{
	width:290px;
	height: 50px;
	border :1px solid grey;
	border-radius: 8px;
}

input::placeholder {
 
  font-style: italic;
 
}