@charset "UTF-8";

#form-update{
	display: none;
	
}

#form-update td{
	padding: 20px;
	
}
a{color: black;}

#basic td{
	font-size: 20px;
	padding:20px;
}
.basic td{
	font-size: 20px;
	padding:20px;
}


