@charset "UTF-8";

.write-wrap{

	height : 500px;
}
.write-wrap2{
	font-size:16px;
	margin-top:50px;
	
	
}
.write-wrap2 td{
	padding: 20px;
}
.write-table{
	width:1200px;
	border-collapse: collapse;
}
.write-table tr{
	border-bottom: 1px solid grey;
	
}
