@charset "UTF-8";

.input-t{
	width:400px;
	margin-bottom: 30px;
}

 main > form > div > textarea{
	width:800px;
	height: 400px;
	margin-top: 30px;
}

body > main > form > div:nth-child(4) > button{
	margin-top:20px;
	display: block;
    background-color: #212121;
    color: #fff;
    font-size: 11px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 2px;
    width: 290px;
    height: 40px;
}