<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nowon.domain.dao.MemberMapper">
  <insert id="memberSave" parameterType="com.green.nowon.domain.dto.MemberDTO" useGeneratedKeys="true" keyProperty="no">
   	insert into member(id,password,email,name,birth,phone) values(#{id},#{password},#{email},#{name},#{birth},#{phone})
  </insert>
  <select id="findByNo2" resultType="com.green.nowon.domain.dto.MemberDTO">
  	select * from member where id=#{id}
  </select>
	
</mapper>